@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}
body {
  font-family: "Bebas Neue", sans-serif;
}
html {
  overflow-x: hidden;
  padding: 0 0;
}
.text-header {
  font-size: 2rem;
}
.nav a:hover {
  color: black;
  background-color: #d8d8d8;
}
#moblienav {
  color: white;
  padding: 16px;
}
#moblienav:hover {
  background-color: none;
}
.nav a.activeL {
  color: black;
  background-color: #e94823;
}
.nav a {
  color: grey;
  padding: 20px;
  background-color: transparent;
  transition: 0.3s ease-in;
}
.nav {
  z-index: 1000;
  background-color: white;
  position: sticky;
  top: 0;
  align-items: center;
  color: black;
  height: 80px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 3px;
}
.home {
  margin-right: 100px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.active {
  background-color: white;
  transition: 0.6s;
  font-weight: bold;
  color: black;
}
.non-active {
  background-color: white;
  color: whitesmoke;
}

.zzz {
  z-index: 100;
}

.main-logo-container {
  height: 20px;
  width: 20px;
  overflow: hidden;
  position: relative;
}
.main-logo {
  object-fit: cover;
  height: 50px;
  width: 50px;
}
.center-axis-x {
  position: absolute;
  color: white;
  top: 35%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, 0);
}

.bar {
  background-color: #d8d8d8;
  border-radius: 20px 20px 0 0;
}

.body1 {
  background-image: url("https://images.squarespace-cdn.com/content/v1/5a5fef62a9db0982c2cfdf44/1521131262182-FFIIB0WJWMKU4FXAUIDE/Sports-Training-Banner.jpg?format=1500w");
  color: white;
  background-color: #ffffff;
}

.img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.grid-text {
  padding: 50px 30px;
  background: #d8d8d8;
}

.card-container {
  width: 300px;
  margin: 0 50px;
}
.coach-bg {
  position: relative;
  height: 250px;
  background-size: cover;
}
.coach-img {
  height: 200px;
  width: 180px;
  position: absolute;
  object-fit: cover;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -0%);
}

.coach-bio {
  padding: 20px;
  width: 100%;
  height: 300px;
  border-radius: 0 0px 25px 25px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.filter-bar {
  background-color: #d8d8d8;
}

.filter-btn {
  transition: 0.3s;
}
.filter-btn:hover {
  background-color: #e94823;
  cursor: pointer;
}

/* input[type="file"] {
  display: none;
} */

/* extracct */
.switch {
  left: 20px;
  position: relative;
  display: inline-block;
  width: 160px;
  height: 50px;
}

.gg .slider::before {
  transform: translateX(51px);
  width: 45px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 40px;
  width: 45px;
  border: 1px solid black;
  background-color: transparent;
  left: 3px;
  top: 8%;
  transition: 0.4s;
  pointer-events: none;
}
